*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3C4043;
}


li {
  list-style-type: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}


.search-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}


/*search box input*/
#search{
  background-color: white;
  width: 240px;
  font-size: 14px;
  margin-top: 7vh;
  margin-bottom: 4vh;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  transition-duration: 1s;
  transition-property: width, box-shadow;
}

#search:hover,
#search:focus{
    width: 270px;
    box-shadow: 1px 2px 8px -5px rgba(0,0,0,.6);
}


.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}



a {
  width:47%;
  padding-bottom: 6vh;
}

img {
  width:100%
}




@media (min-width: 768px){
  #search {
    width: 335px;
    margin-bottom: 7vh;
    }
    #search:hover,
    #search:focus{
        width: 335px;
      }
  a {
    width: 30%;
    padding-bottom: 8vh;
  }
}

@media (min-width: 1024px){
  #search {
    width: 435px;
    margin-bottom: 7vh;
  }
  #search:hover,
  #search:focus{
      width: 435px;
    }
  a {
    width: 22%;
    padding-bottom: 8vh;
  }
}
