*{
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #3C4043;
}


.wrapper {
  width: 90%;
  margin: 0 auto;
}

input[placeholder]{

}

.search-box{
  background-color: : pink;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

}


.search-box__input{
  background-color: white;
  width: 270px;
  font-size: 14px;
  margin-top: 7vh;
  margin-bottom: 4vh;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding: 7px;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


img{
  width:40%;
  margin-right: 10px;
}
